* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $appColor;

  & main {
    min-height: 80vh;
  }

  & a {
    text-decoration: none;
  }

  & input:focus {
    box-shadow: none !important;
  }

  & button:focus {
    box-shadow: none !important;
  }
}
