.post-card {
  border-radius: 10px;
}

.post-user-image {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.time {
  font-size: 11px;
}

.card-img {
  width: 100% !important;
  max-height: 30rem !important;
  object-fit: cover !important;
}

.count {
  font-size: 10px;
  font-weight: bold;
}
